<!doctype html>
<html lang="zh-cn">
    <head>
        <title>MoocWiki</title>
        <meta charset="utf-8">
        <meta name="description" content="MoocWiki - A internal wiki page for mooc laboratory.">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body class="tc-body">
        <section class="tc-story-river">
            <h1>Welcome to MoocWiki!</h1>
        </section>
    </body>
    <script href="/javascripts/vue.js">
</html>
`
